@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'Dune Rise'; 
    src: url(../Font/Dune_Rise.otf);
}

@font-face {
    font-family: 'Montserrat Thin'; 
    src: url(../Font/Montserrat-Italic-VariableFont_wght.ttf);
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/*Imagen de fondo*/

.bcimg{
    background-image: url("../img/index1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
}

/*Titulo dune*/

.dunetitulo{
    font-family: 'Dune Rise', 'Franklin Gothic Medium';
    text-align: center;
    padding: 50vh 0 20vh 0;
    color: white;
}

.dunetitulo h1{
    font-size: 4rem;
}

/*Menú desplegable responsivo*/


.menu-desplegable{
    background-color: rgba(2, 2, 2, 0.616);
    padding: 0px 30px 0 20px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    color: white;
}

.menu-contenido{
    font-family: 'Dune Rise', 'Franklin Gothic Medium';
    text-align: center;
    max-height: 0;
    overflow: hidden;
}

.menu-desplegable ul {
    list-style-type: none;
    padding: 0;
}

.menu-contenido a{
    color: white;
}

.menu-desplegable a {
    display:block;
    padding: 6px;
    text-decoration: none;
}

.menu-desplegable label {
    font-family: 'Dune Rise','Sedgwick Ave Display', cursive;
    font-size: 50px;
    display: block;
    cursor: pointer;
    background: url(../img/menu.png) no-repeat left center;
    background-size: 40px 36px;
    padding: 13px 0 10px 50px;
}

input#menu {
    display: none;
}
/*Menu colapsado*/
input:checked +label {
    background-image: url(../img/menu2.png);
}

input:checked ~ .menu-contenido {
    max-height: 100%;
}

/*Secciones index*/

main .indice {
    display: flex;
    justify-content: center;
}

.img-texto{
    width: 85vw;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 30px 30px 0 30px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    border-style: solid;
    border-width: 2px 3px 3px 2px;
    border-color: rgba(250, 235, 215, 0.692);
}



.img-y-leyenda{
    width: 30%;
    height: auto;
}

.itemindex{
    width: 200px;
    height: auto;
    margin: 2%;
}

.img-y-leyenda img {
    border-radius: 50%;
    width: 25%;
    height: 35%;
    min-width: 200px;
    min-height: 200px;
}

.img-y-leyenda p {
    font-size: 14px;
    font-style: italic;
    padding: 1px 0 20px 0;
    text-align: center;
}

.index-textodere{
    width: 60%;
    min-width: 300px;
}

.img-texto h2 {
    padding: 20px 0 20px 0;
    width: 100%;
}


/*Galeria de arte*/

.grid-container-arte {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(240px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-item-arte {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgb(6, 112, 112);
    border-radius: 4px;
    transition: 0.3 ease-in-out;
    border: solid 1px rgb(255, 255, 255)
}

.grid-item-arte img {
    object-fit: cover;
    width:100%;
    height:100%;
    overflow: hidden;
}

.grid-item-arte:hover {
    filter: opacity(0.9);
    transition: scale(1.04);
}

@media  (min-width: 600px){

    .img-ancha{
        grid-column: span 2;
    }

    .img-alta{
        grid-row: span 2;
    }

    .img-grande {
        grid-column: span 2;
        grid-row: span 2;
    }

    .img-muy-grande{
        grid-column: span 3;
        grid-row: span 3;
    }


}

/*Reparto con bootstrap*/

.card {
    object-fit: fill;
    overflow: hidden;
}

.textoreparto {
    text-align: start;
}

/*Footer*/

footer {
    position: absolute;
    height: auto;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #111; 
    color: #fff;

}

.footercontenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footercontenido h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footercontenido p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.redes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.redes li {
    margin: 0 10px;
}

.redes a{
    text-decoration: none;
    color: #fff;
}

.redes a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.redes a:hover i{
    color: aqua;
}

.footerfondo{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footerfondo p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footerfondo span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}